

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('@/assets/fonts/Kanit/Kanit-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('@/assets/fonts/Kanit/Kanit-Bold.ttf') format('truetype');
}